<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @user.slug %>
          <span class="pull-right"><i>joined on <%= @user.created_at.to_date %></i></span></h3>
        </div>
        <div class="panel-body">
          <%= @user.slug %> is interested in <%= @user.upvotes.count %> port requests.
        </div>
      </div>
    </div>
  </div>
</div>
