<p><i>people who are also interested in this..</i></p>
<div class="panel panel-default">
  <div class="panel-body">
    <% @people_interested.each do |people| %>
      <%= link_to people.slug, people, class: 'link' %>
    <% end %>
  </div>
</div>

