<h3>Welcome <%= session[:email] || "You are Logged out" %> </h3>
<% if @current_user.present? %>
<p><%= link_to 'Logout', logout_path %></p>
<% else %>
<p><a href='/auth/github'>Login</a></p>
<% end %>
